## Deliverable 3. Create a Travel Itinerary Map.

In [56]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [57]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,San Onofre,CO,77.45,overcast clouds,9.7359,-75.5263,Hotel Sinai
1,2,Natal,BR,79.02,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
2,3,Hithadhoo,MV,83.48,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,5,Saint-Pierre,RE,76.68,clear sky,-21.3393,55.4781,Lindsey Hôtel
4,6,Keshod,IN,88.68,broken clouds,21.3000,70.2500,Hotel New Rajdhani

In [58]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [59]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30,31), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
vacation_end = vacation_start = vacation_df.loc[vacation_df["City"] == 'Fortuna']
vacation_end

Empty DataFrame
Columns: [City_ID, City, Country, Max Temp, Current Description, Lat, Lng, Hotel Name]
Index: []

In [64]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_and_end = vacation_df.loc[vacation_df["City"] == 'Buckeye']
vacation_stop1 = vacation_df.loc[vacation_df["City"] =='San Patricio']
vacation_stop2 = vacation_df.loc[vacation_df["City"] =='Spring Hill'] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] =='Elizabeth City']

In [65]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start_end = tuple(vacation_start_and_end[["Lat", "Lng"]].to_numpy()[0])
stop1 = tuple(vacation_stop1[["Lat", "Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat", "Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat", "Lng"]].to_numpy()[0])

In [66]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions = gmaps.directions_layer(start_end,start_end,waypoints=[stop1,stop2,stop3],
    stroke_color='blue', stroke_weight=4.0, stroke_opacity=0.5,travel_mode='DRIVING')
fig.add_layer(directions)
#Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames i3to one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_and_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,50,Buckeye,US,76.68,clear sky,33.3703,-112.5838,Buckeye Motor Hotel
1,278,San Patricio,US,79.84,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,302,Spring Hill,US,78.82,clear sky,28.4769,-82.5255,Room of The world By traveline Plus
3,647,Elizabeth City,US,75.02,clear sky,36.2946,-76.2511,Hampton Inn Elizabeth City

In [68]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30,31), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))